<li>
  <strong><em><%= User.find(comment.user_id).username %>: </strong></em>
  <%= comment.content %>

  <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :content, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
      <% end %>

  <ul>
      <%= render comment.comments %>
  </ul>

</li>