<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<section id="all-links">
    <% if @user.id == @current_user.id %>
        <%= link_to 'Edit', edit_user_path(@user) %> |
        <%= button_to "Logout", '/logout', method: :post %>
    <% elsif @current_user.followees.include?(@user) %>
        <h5><%= button_to "UnFollow #{@user.username}", unfollow_user_path, method: "POST" %></h5>
    <% else %>
       <h5><%= button_to "Follow #{@user.username}", follow_user_path, method: "POST"  %></h5>
    <% end%>
    <br>
</section>