<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>


<%= @user.username %>'s Posts:

<ul>
<% @posts.each do |post|%>
    <li><%= link_to post.name, post_path(post), :class=> "text-primary"%></li><br><br>

<% end %>
</ul>

<section id="all-links">
    <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_path(@user), :class => "btn btn-outline-primary" %> 
    <% elsif @current_user.followees.include?(@user) %>
        <h5><%= button_to "Unfollow #{@user.username}", unfollow_user_path, method: "POST" %></h5>
    <% else %>
       <h5><%= button_to "Follow #{@user.username}", follow_user_path, method: "POST"  %></h5>
    <% end%>
    <br>
</section>