    <%=link_to @post.user.username, user_path(@post.user)%><br>
    <h3><%= @post.name %><br></h3>
    <%= @post.description %><br>

    <% if @post.user_id == session[:user_id] %>

   <%= form_for @post, method: :delete do |f| %>
	<%= f.submit "Delete Post" %>
    <% end %>

    <%end %>


<%= link_to "Back", "javascript:history.go(-1);", :class=> "btn btn-outline-success"  %>

