<!DOCTYPE html>
<html>
  <head>
    <title>NotReddit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>

    <% if session[:user_id] %>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">NotReddit</a>
      <form class="form-inline">
          <div style="padding-left: 10px;">
          <a class="btn btn-outline-success" href= "/users/<%= session[:user_id] %>" role="button" >
          My Profile
          </a> 
          <a class="btn btn-outline-success" href='/users/<%= session[:user_id] %>/posts' role="button">
          My Posts
          </a>
          <a class="btn btn-outline-success" href="/posts" role="button">
          All Posts
          </a>
          <a class="btn btn-outline-success" href="/users" role="button">
          All Users
          </a>
          <a class="btn btn-outline-success" href="/communities" role="button">
          Communities
          </a>
          <a class="btn btn-outline-success" href='/users/<%= session[:user_id] %>/followers' role="button">
          Followers
          </a>
          <a class="btn btn-outline-success" href='/users/<%= session[:user_id] %>/following' role="button">
          Following
          </a>
          <a class="btn btn-outline-success" href="/analytics" role="button">
          Analytics
          </a>
          <a class="btn btn-outline-success" href="/logout" role="button">
          Log Out
          </a>
        </div>
      </form>
    </nav>
    <% end %>

    <%= yield %>
  </body>
</html>